<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Gabriel Mattei | Conductor</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="img/favico.png" sizes="32x32" />
    <!-- CSS STYLE LINKS -->

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>
<body>
<div class="container-fluid">
    <div class="row nav">

        <div class="col-lg-2">
            <a href="index.php">Gabriel Mattei</a>
        </div>
        <div class="col-lg-offset-2 col-lg-2">
            <a class="musique" id="symf">Symphonic Music</a>
            {#<input class="musique" type="checkbox" id="symf"/>#}
        </div>
        <div class="col-lg-2">
            <a class="performing" id="perfo">Performing Art</a>
        </div>
        <div class="col-lg-offset-3 col-lg-1">
            <a href="about.php">About</a>
        </div>

    </div>
</div>

<div class="content">
    <p>Chef d'orchestre et compositeur formé à Paris et à Vienne, Gabriel Mattei partage ses activités musicales entre Strasbourg,
        Paris et Bruxelles. Directeur de l'Orchestre métropolitain de Strasbourg (Orchesre m) et kammerensemble Kehl-Strasbourg,
        il developpe une activité musicale exigeante et transversale alliant sa volonté d'associer différents cultures à la
        grande tradition de la musique classique et son souci de communication avec le public.</p>

</div>


<div class="container-fluid about">

        <div class=" col-lg-3">
            <span class="aboutcontact">
               <p> Représenté par: </br>
                AGENCE METI-JORI</br>
                TEL: 1 (514) 241-7226</br>
                info@meiti-jori-agency.com</br></br>
                Contact direct: </br>
                Port. + 33 (0)6 02 97 13 89</br>
                contact@gabielmattei.eu</br>
                facebook</br></br>
                CV to download</br>
                   <a href="#" download="#"> >french</a> </br>
                   <a href="#" download="#">>english </a></br>
                   <a href="#" download="#">>chinese</a>
               </p>

            </span>
        </div>



        <div class="col-lg-4">
                <p class="aboutparagraphe">
                  Gabriel MATTEI a été directeur musical de l'Orchestre Universitaire de Strasbourg de 2002 à 2006,
                    de l'Ortenau Orchestre d'Offrenburg(Allemagne) de 2009 à 2011 et dirige le Kammerenselble
                    Kehl- Strasbourg depuis 2004.Chef de choeur, il a dirigé le choeur mulhousien << La Saltarelle>>
                    de 2004 à 2008. Co-directeur de la Compagnie l'Elan Lyrique, il dirige >>l'Histoire du Soldat>>
                    de Stravinsky et Ramuz en 2004/2005 et, en 2006, une nouvelle production de l'opéra
                    << le pauvre Matelot >>de Milhaud ainsi que >> Le Gendarme incompris >> de Poulenc. En 2007,
                    Gabriel MATTEI crée un nouvel orchestreà géométrie variable l'Orchestre métropolitain (Orchestre m)
                    avec lequel il se consacre à la musique du XXème siècle,et plus particulièrement aux compositeur
                    français de cette période. Il expérimete également avec ses musiciens diverses formes de concert
                    avec des dispositifs scénographiques expérimentaux (concert à vélo, concert en piscine, concert en appartement...)
                </p>

        </div>



        <div class="col-lg-offset-1 col-lg-4">
                <p class="aboutparagraphe">Après avoir développé plusieurs échanges artistiques
                    entre la France et l’Amérique du sud (Venezuela en
                    2001 et Argentine à partir de 2003) , Gabriel Mattei
                    amorce dès 2012 des collaborations musicales avec la
                    Chine continentale et Taïwan. Chef invité, il a dirigé
                    l’Orchestre Philharmonique de Monte Carlo, l’Orchestre
                    Philharmonique de Strasbourg, l’Orquestre symphonique
                    de Bahía Blanca (Argentine), L’Orchestre de la fondation
                    TECO de Taïwan, l’Orchestre Symphonique Libertador
                    San Martín de Buenos Aires, l’Ensemble du Nouveau
                    Siècle et l’Orchestre du Festival de Neuf-Brisach...
                </p>

        </div>
</div>


</body>
</html>