.login-content{
    padding-top: 80px;
}

.molette{
    color: grey;
}
.gabrielM{
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
}
.nav-tabs{
    background-color: grey;
}
/*.thumb img{*/
    /*width: 10%;*/
    /*height: 10%;*/
/*}*/
.form-group input[type="file"]{
    opacity: 1;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
