@font-face {
    font-family: 'freighttext_promedium';
    src: url('../fonts/freigText/freigtexpromed-webfont.woff2') format('woff2'),
    url('../fonts/freigText/freigtexpromed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'freighttext_promedium_italic';
    src: url('../fonts/freigText/freigtexpromedit-webfont.woff2') format('woff2'),
    url('../fonts/freigText/freigtexpromedit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'freighttext_prosemibold';
    src: url('../fonts/freigText/freigtexprosem-webfont.woff2') format('woff2'),
    url('../fonts/freigText/freigtexprosem-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/********************  STYLES GENERAUX ********************/


html body {
    background-color: rgb(245, 245, 245);
}

html body a,span{
    cursor: pointer;
}

html body {
    background-color: rgb(245,245,245);

}
body a{
    text-decoration: none;
    color: black;
}
body a:hover{
    color: black;
}

.nav{
    font-family: 'freighttext_promedium';
    line-height: 29px;
    padding-top: 33px;
    height:171px;
}
.imgperfo{
    display:none;
    margin: 0 0 0 50px;
}
.imgmusique{
    display:none;
    margin: 0 50px 0 0;

}
.navbar{
    padding-top: 36px;
}
.navbar-default {
    background-color: rgba(245,245,245,1);
    border-bottom:0px;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
    vertical-align: top;
}

.navbar-brand {
    font-size:26px;
    font-family: 'freighttext_promedium';
    padding-left: 15px;
    padding-top: 0;

}
.navbar-default .navbar-header  > a:hover{
    color:black;
}
.navbar-default .navbar-brand {
    color:black;
}

.navbar-default .navbar-nav > li a {
    color:black;
    font-size:26px;
    font-family: 'freighttext_promedium';
}
.navbar-default .navbar-nav > li a:hover{
    color:black;
}
.navbar-header {
    margin-right: inherit;
    margin-left: inherit;
}

.navbar-right{
    margin-right:inherit;
}

.container-fluid{
    padding-right: 36px !important;
    padding-left: 36px !important;
}

.container-fluid a{
    text-decoration: none;
}

.content{
    min-height: 710px;
    padding-bottom: 120px;
}

.content p{
    line-height: 58px;
}

span[class^="content"] {
    display:none;
}


span.title{
    font-family: 'freighttext_promedium_italic';
}

span.subtitle{
    font-family: 'freighttext_promedium';
}

span.labelyear{
    font-family: 'freighttext_promedium';

}
span.point{
    font-family: 'freighttext_promedium';
    margin-left: 54px;
    margin-right: 54px;
}
.new{
    font-family: 'freighttext_prosemibold';
    color: darkorange;
}
.virgule{
    font-family: 'freighttext_prosemibold';

}
a:hover{
    opacity: 1 !important;
}
.top {
    font-size: 26px;
    background-color: rgb(245,245,245);
    position: fixed;
    width: 100%;
}

@media screen and (min-width: 200px) and (max-width: 1100px) {
    .top {
        display:none;
    }
    .topphone{
        font-size: 18px;
    }
    .nav{
        height: 50px;
    }
    .content{
        font-size: 20px;
        padding-top: 150px;
    }
}
@media screen and (min-width: 1100px){
    .topphone{
        display: none;
    }
    .content{
        font-size: 45px;
        padding-top: 188px;
    }
}
.topphone {
    background-color: rgb(245,245,245);
    position: fixed;
    width: 100%;
}


.top .symf{
    text-align: right;
}
.topphone .symf{
    text-align: right;
}


/********************  STYLES ABOUT ********************/

.about{
    padding-top: 72px ;
}

.about .col-lg-3 {
    padding-left: inherit;
    padding-right: inherit;
}
.about .col-lg-8 {
    padding-left: inherit;
    padding-right: inherit;
}

.contentabout p{
    padding-top: 200px !important;
    font-family: 'freighttext_promedium';

    font-size: 45px;
    line-height: 58px;
}

.aboutcontact li{
    font-family: 'freighttext_promedium';
    font-size: 24px;
    text-align: left;
    padding-left: 21px;
}
.pictoabout{
    padding-right: 50px;
}

.aboutparagraphe {
    font-family: 'freighttext_promedium';
    font-size: 20px;
    text-align: left;
    padding-bottom: 80px;
    padding-right: 36px;
}

.aboutnav{
    padding-right: 30px;
}

/********************  STYLES ADMIN ********************/

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 80px;
    padding: 40px 0px 20px 0px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.login-title
{
    color: #555;
    font-size: 22px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 110px;
    height: 105px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.select-img
{
    border-radius: 50%;
    display: block;
    height: 75px;
    margin: 0 30px 10px;
    width: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.select-name
{
    display: block;
    margin: 30px 10px 10px;
}

.logo-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.imgAbout{
    padding-bottom: 30px;
}
.imgAbout img{
    margin-right: auto;
    margin-left: auto;
    display: block;

}
ul {
    list-style:none;
    list-style:none
    margin-left:0;
    padding-left:0;
    margin-bottom:40px;
}
li {
    margin-bottom: 0;
}


/********************    STYLE MODALE    ***********************/

hr{
    border: 1px solid black;
    margin-left: 25px;
    margin-right: 36px;
    margin-top: 0;
    bottom: -50px;
}
.hr1{
    /*margin-left: inherit;*/
    /*margin-right: inherit;*/
    /*margin-left: 150px;*/
    /*width: 1485px;*/
    margin-left: 165px;
    margin-right: 162px;
    width: auto;
}

.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
    position: relative;
    bottom: 0;
    right: auto;
    top: 80px;
    padding-left: 25px;
    padding-right: 25px;

}
.modal.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
    height: 100%;


}
.modal.modal-fullscreen .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
    background-color: rgb(245,245,245);

    /* change bg color below */
    /* background:#1abc9c; */
}
.modal.modal-fullscreen.force-fullscreen {
    /* Remove the padding inside the body */
    width: 100%;
}
.modal.modal-fullscreen.force-fullscreen .modal-body {
    padding: 0;
}


.modal-content{
    min-height: 800px;
    padding-top: 0;
    font-size: 45px;
    padding-left: 36px;
    padding-right: 36px;
    margin-left: -20px;

}
.modalHr {
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 28px;
    margin-top: 0;
    bottom: -50px;
}
button .close{
    color: black;
    font-size: 60px;
    padding-right: 40px ;


}
.close{
    opacity: 1;
}

.multimedia{
    padding-bottom: 50px;
    padding-top: 100px;
}

.carousel{
    margin: 0 auto;

}

.carousel-control{
    width: auto;
    opacity: 0.1;

}

.carousel-control.right{
    background-image: none;

}

.carousel-control.left{
    background-image: none;

}

.carousel-indicators li{
    border: 1px solid black;
}
.carousel-indicators li.active{
    background-color: black;
}
.carousel-indicators {
    bottom: -20px;
}
.item img{
    margin: 0 auto;
    padding-bottom: 50px;
}
/*.modalTitle{*/
    /*position: fixed;*/
/*}*/
.imagefooter img {
    max-height: 50%;
    max-width: 50%;

}

.credits{
    font-family: 'freighttext_promedium';
    font-size: 17px;
    text-align: left;
    padding-bottom:30px;
    line-height: 21px;

}
.description{
    font-family: 'freighttext_promedium';
    font-size: 17px;
    text-align: left;
    padding-bottom:100px;
    line-height: 21px;

}

.paragraphemodale{
    padding-right: 0;
}
.texte{
    padding-top: 30px;
}

/**************************    FOOTER    **********/
.footer{
    width: 100%;
    font-size: 13px;
    padding-bottom: 36px;
    bottom :0;
    background-color: rgb(245, 245, 245);
    line-height: 14px;

}
.footer a{
    text-decoration: none;
    color: #333;
}
.footer div .row{
    padding: 5px 0;
    margin: 0;
}

.footer img {
    max-height: 100%;
    max-width: 100%;
}
.footer{
    font-family: 'freighttext_promedium';
}
.footer span, .footer p{
    padding: 2px;
    margin: 0px;
}
.footer{
    padding: 0;
    margin: 0;
}
.italic-font{
    font-family: 'freighttext_promedium_italic';
}
.footer .row{
    margin-left: 0px;
    margin-right: 0px;
}
.modal .mentions{
    font-size: 15px;
}



