<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FAVICON -->
    {% block css %}

        <link rel="icon" type="image/png" href="assets/img/favico.png" sizes="32x32"/>
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/stylesheet.css" rel="stylesheet">


    {% endblock %}
    <title>Gabriel Mattei | {% block title %} index {% endblock %}</title>

</head>
<body>
{% block nav %}
{% endblock %}
<div class="container-fluid">

    {% block content %}
    {% endblock %}

</div>
{% include 'partial/footer.html.twig' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


<script src="assets/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function () {
        $("[id^=year]").click(function () {
            annee = $(this).attr('id').replace('year', '');

            $(".content" + annee).fadeToggle();
        });
    });

    $(document).ready(function () {

        $("#symf").click(function () {
            jQuery('#perfo').hide();
            jQuery('#symf').show();
            jQuery('.imgperfo').show();
            jQuery('.imgmusique').hide();

            $(".symphonicMusic").css("visibility", 'visible');
            $(".performingArt").css("visibility", 'hidden');
        });

        $("#perfo").click(function () {
            jQuery('#symf').hide();
            jQuery('#perfo').show();
            jQuery('.imgmusique').show();
            jQuery('.imgperfo').hide();

            $(".performingArt").css("visibility", 'visible');
            $(".symphonicMusic").css("visibility", 'hidden');

        });

//        jQuery(".imgmusique").hover(
//            function() {
//                jQuery(this).hide();
//                jQuery('#symf').show();
//            }, function() {
//                jQuery(this).show();
//                jQuery('#symf').hide();
//            }
//        );
//
//        jQuery(".imgperfo").hover(
//            function() {
//                jQuery(this).hide();
//                jQuery('#perfo').show();
//            }, function() {
//                jQuery(this).show();
//                jQuery('#perfo').hide();
//            }
//        );
    });

</script>

</body>
</html>