<div class="container-fluid top">
    <div class="row nav">
        <div class="col-lg-3 col-md-3">
            <a href="index.php">Gabriel Mattei</a>
        </div>
        <div class="col-lg-3 col-md-3 symf">
            <a class="musique" id="symf">Symphonic Music</a>

        </div>
        <div class="col-lg-3 col-md-3">
            <a class="performing" id="perfo">Performing Art</a>
        </div>

        <div class="col-lg-offset-2 col-lg-1 col-md-offset-2 col-md-1">
            <a href="?p=about">About</a>
        </div>
    </div>
</div>


<div class="container-fluid topphone">
    <div class="row nav">

        <div class="col-xs-6">
            <a href="index.php">Gabriel Mattei</a>
        </div>

        <div class="col-xs-offset-3 col-xs-3">
            <a href="?p=about">About</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 symf">
            <a class="musique" id="symf">Symphonic Music</a>
        </div>
        <div class="col-xs-6">
            <a class="performing" id="perfo">Performing Art</a>
        </div>
    </div>
</div>